/* root section for var */
:root {
    --text-color: black;
    --header-font-size: 36px;
    --header-background-color: #B8B6B6;
    --font-size: 28px;
    --h2-font: 32px;
    --margin-top-bottom: 2.5%;
    --text-box-border: 1px solid black;
    --text-box-font-size: 22px;
    --text-box-width: 25%;
    --text-box-background-color: white;
}

/* Film photo*/
#film .photos {
    flex-basis: 26%;
}

.photos {
    min-height: 400px;
    max-height: 400px;
    margin: 0.5em;
    flex-basis: calc(50% - 1em);
    background-size: cover;
    background-position: center;
}

#photo1 {
    background-image: url(./Images/portAngeles.jpg);
}

#photo2 {
    background-image: url(./Images/portTownsend.jpg);
}

#photo3 {
    background-image: url(./Images/titlow.jpg);
}