/*Universal element tag*/
* {
    box-sizing: border-box;
  }
   :root {
    --margin-bottom: 45px;
    --height: 150px;
    --background-size: cover;
   }
  /*Parent element tags*/
  a {
    text-decoration: none;
    color: black;
  }
  
  h2, h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
  }

  /*Header section*/
  header {
    border-bottom: 3px solid;
    padding: 0 20px;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  /*Hero section*/
  .hero {
    border: 1px dashed red;
    margin: var(--margin-bottom) 0;
  }
  
  #hero {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    height: 300px;
    
  }
  
  #hero-img {
    border: 2px dashed blue;
    height: 300px;
    flex-basis: 27%;
    background-image: url(./Images/74600003.jpg);
    background-size: var(--background-size);
  }

  #welcome-text {
    font-weight: bold;
    font-size: 36px;
    /* flex-basis: 23%; */
    margin-left: 225px;
  }
  /*About me section*/
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--margin-bottom);
  }
  
  #about {
    border: 1px dashed red;
    flex-basis: 88%;
    height: 166px;
    margin-bottom: 25px;
  }

  #about-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  #about-text {
    font-size: 24px;
    border: 2px dashed blue;
    flex-basis: 100%;
  }

  #about-img {
    border: 2px dashed blue;
    height: 351px;
    flex-basis: 31%;
    margin-left: 248px;
    margin-bottom: 27px;
  }
  
  /*Work section*/
  .work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--margin-bottom);
  }
  
  #work {
    flex-basis: 88%;
    height: 676px;
    border: 1px dashed red;
  }
  
  #work-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  #horiseon {
    background-image: url(./Images/digital-marketing-meeting.jpg);
    background-size: var(--background-size);
    flex-basis: 100%;
    height: 375px;
  }
  
  #calc {
    background-image: url(./Images/calc.jpeg);
    background-size: var(--background-size);
    flex-basis: 50%;
    height: var(--height);
  }
  
  #wall {
    background-image: url(./Images/Led\ wall.jpeg);
    background-size: var(--background-size);
    flex-basis: 50%;
    height: var(--height);
  }
  
  #puzzle {
    background-image: url(./Images/puzzle.jpeg);
    background-size: var(--background-size);
    flex-basis: 50%;
    height: var(--height);
  }
  
  #project {
    background-image: url(./Images/run.jpeg);
    background-size: var(--background-size);
    flex-basis: 50%;
    height: var(--height);
  }
  
  .text-box {
    position: absolute;
    top: 315px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 2px solid green;
  }
  
  #work a {
    border: 1px dashed blue;
  }
  
  /*Contact section*/
  #contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  #contact-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: 85%;
    border: 1px dashed red;
  }
  
  #contact-link a {
    flex-basis: 15%;
    padding-right: 75px;
  }
