/*Universal element tag*/
* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F3F3F3;
  }

   :root {
    --margin-bottom: 45px;
    --height: 150px;
    --background-size: cover;
    --flex-basis: 50%;
    --section-left-lineup: 88%;
    --blue-border: 2px dashed blue;
    --red-border: 2px dashed red;
    --font24: 24px;
    --height300: 300px;
    --hover: border 0.3s;
    --hover-color: border #a0a0a0;
    --box-width: 200px;
    --box-border: 2px solid green;
    --box-position: absolute;
    --left-column-wall: 2px;
    --left-column-top: 470px;
    --right-column-wall: 627px;
    --right-column-top: 619px;
   }

  /*Parent element tags*/
  a {
    text-decoration: none;
    color: black;
  }
  
  h2, h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
  }

  /* Flexbox selectors */
  nav, .about, #about-flex, .work, #contact, #contact-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  #hero, #work-flex {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
  }
  /* Bottom margin selectors */
  .about, .work {
    margin-bottom: var(--margin-bottom);
  }

  /* wireframe selectors */
    .hero, #about, #work, #contact-link {
        border: var(--red-border);
    }

    #hero-img, #about-text, .work-a {
        border: var(--blue-border);
    }

    #horiseon-box, #calc-box, #wall-box, #puzzle-box, #run-box {
      border: var(--box-border);
    }

    /* Hozer and media var selectors */
    #horiseon, #calc, #wall, #puzzle, #project {
      transition: var(--hover);
    }

    #horiseon:hover, #calc:hover, #puzzle:hover, #project:hover {
      border: var(--hover-color);
    }

  /*Header section*/
  header {
    border-bottom: 3px solid;
    padding: 0 20px;
  }

  header nav a {
    font-size: var(--font24);
  }
 
  /*Hero section*/
  #hero, #hero-img {
    height: var(--height300);
  }

  .hero {
    margin: var(--margin-bottom) 0;
  }
  
  #hero-img {
    flex-basis: 27%;
    background-image: url(./Images/74600003.jpg);
    background-size: var(--background-size);
  }

  #welcome-text {
    font-weight: bold;
    font-size: 36px;
    margin-left: 127px;
  }
  /*About me section*/
  #about {
    flex-basis: var(--section-left-lineup);
    height: 166px;
    margin-bottom: 25px;
  }

  #about-text {
    font-size: var(--font24);
    flex-basis: 100%;
  }

  /*Work section*/
  #calc, #wall, #puzzle, #project {
    background-size: var(--background-size);
    flex-basis: var(--flex-basis);
    height: var(--height);
  }

  #work {
    flex-basis: var(--section-left-lineup);
    height: 676px;
    
  }
  
  #work-flex {
    position: relative;
  }
  
  #horiseon {
    background-image: url(./Images/digital-marketing-meeting.jpg);
    background-size: var(--background-size);
    flex-basis: 100%;
    height: 375px;
  }
  
  #calc {
    background-image: url(./Images/calc.jpeg);
  }

  #wall {
    background-image: url(./Images/Led\ wall.jpeg);
  }

  #puzzle {
    background-image: url(./Images/puzzle.jpeg);
  }

  #project {
    background-image: url(./Images/run.jpeg);
  }

  /* Work section text box selectors */
  #horiseon-box, #calc-box, #wall-box, #puzzle-box, #run-box {
    width: var(--box-width);
    position: var(--box-position);
  }

  #horiseon-box, #calc-box, #puzzle-box {
    left: var(--left-column-wall);
  }

  #calc-box, #wall-box {
    top: var(--left-column-top);
  }

  #wall-box, #run-box {
    left: var(--right-column-wall);
  }

  #puzzle-box, #run-box {
    top: var(--right-column-top);
  }

  #horiseon-box {
    top: 320px;
  }

  /*Contact section*/
  #contact-link {
    flex-basis: var(--section-left-lineup);
  }
  
  #contact-link a {
    flex-basis: 15%;
    padding-right: 75px;
  }

  /* Media and Pseduo section */
  @media screen and (max-width: 992px) {
    * {
      flex-direction: column;
    }
  }
