/* Var selectors */
:root {
    --text-color: black;
    --header-font-size: 36px;
    --header-background-color: #B8B6B6;
    --font-size: 28px;
    --h2-font: 32px;
    --margin-top-bottom: 2.5%;
    --text-box-border: 1px solid black;
    --text-box-font-size: 22px;
    --text-box-width: 25%;
    --text-box-background-color: white;
  }

/* universal styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #D6D5D5;
}

/* parent level selectors */
main {
    width: 88%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* header selectors */
header nav {
    display: flex;
    flex: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 4px solid black;
    padding: 1.2% 0;
    font-size: var(--header-font-size);
    background-color: var(--header-background-color);
}

header nav h1 {
    font-size: 42px;
    font-weight: bolder;
    background-color: var(--header-background-color);
}

header nav a {
    background-color: var(--header-background-color);
}

/* figure/hero selectors */
figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
  }
  
  figure div {
    overflow: hidden;
    object-position: center;
    height: 400px;
    width: 88%;
    background-size: cover;
    background-position: center;
    margin: var(--margin-top-bottom) 0;
  }

/* Flexbox selectors for main section*/
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: var(--wireframe-red);
    margin: var(--margin-top-bottom) 0;
}

section h2 {
    font-size: var(--h2-font);
    font-weight: bold;
    text-align: right;
    flex-basis: 15%;
    padding-right: 15px;
    padding-top: 5px;
    border-right: 3px solid black;
}

section div {
    flex-basis: 84%;
    padding: 1.5% 0;
    font-size: var(--font-size);
    border: var(--wireframe-blue);
}

section nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

/* Media and hover selectors */
@media only screen and (max-width: 992px) {
    header nav {
      flex-direction: column;
    }
  
    section {
      flex-direction: column;
    }
  
  
    section div {
      flex-basis: 50%;
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 570px) {
    header nav {
      flex-direction: column;
    }
  
    section {
      flex-direction: column;
    }
  
    section div {
      flex-basis: 100%;
      flex-direction: column;
    }
  }